


<section class="resume-section" id="awards">


    <h2> Send Me a Message</h2>
    <br />
    <br />

    <button data-toggle="modal" data-target="#modal1"  class="btn btn-info">Mesaj Gönder</button>

    <div class="modal" id="modal1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h2 class="modal-title"> Message </h2>


                </div>
                <form method="post" asp-controller="Message" asp-action="Add">
                    <div class="modal-body">
                        <label>Full Name</label>
                        <input type="text" class="form-control" name="FullName">

                        <label>Mail</label>
                        <input type="text" class="form-control" name="Mail" />

                        <label>Subject</label>
                        <input type="text" class="form-control" name="Subject" />

                        <label>Message</label>
                        <input type="text" class="form-control" name="Message" />
                        <br />
                        <button type="submit" class="btn btn-info">Send</button>


                    </div>



                </form>


            </div>

        </div>

    </div>


</section>

